4191 Update?

RFC4191 duplicates RFC4861:

"The information contained in Router Advertisements may change through
   the actions of system management.  For instance, the lifetime or
   preference of advertised routes may change, or new routes could be
   added.  In such cases, the router MAY transmit up to
   MAX_INITIAL_RTR_ADVERTISEMENTS unsolicited advertisements, using the
   same rules as in [[RFC2461](https://www.rfc-editor.org/rfc/rfc2461)]."